.form{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.label {
    color: beige;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.input {
    padding: 4px 5px;
    font-size: 20px;
    outline: none;
    margin-right: 10px;
}
.select{
    padding: 7px 5px;
}