.textBlock {
    padding: 10px;
}
.enterSection{
    margin-bottom: 15px;
}
.textArea{
    display: block;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}
.input{
    outline: none;
    width: 100%;
    padding-inline: 5px;
    height: 50px;
    font-size: 25px;
    border-radius: 1%;
    margin-bottom: 10px;
}
.Error{
    font-size: 25px;
    font-weight: 700;
    color: beige;
    margin-bottom: 10px;
    text-align: center;
    color: #1677ff;
}
.form{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.title{
    font-size: 35px;
    font-weight: 700;
    color: #1677ff;
    margin-bottom: 5px;
}