.link{
    color: antiquewhite;
    font-size: 16px;
    align-self: flex-end;
}
.link:hover{
    text-decoration: underline;
}
.title{
    margin-right: 10px;
    font-size: 20px;
}
.contact{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}