.header {
    grid-area: header;
    background-color: lawngreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
    min-height: 70px;
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.login{
    color: #1677ff;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.LoginDiv{
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logout{
    color: #1677ff;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}