.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.title {
    color: #1677ff;
    margin-block: 15px;
    font-size: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label {
    color: #1677ff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.input {
    padding: 5px;
    height: 35px;
    font-size: 20px;
    outline: none;
    margin-bottom: 10px;
    margin-inline: auto;
}
.remember{
    margin-bottom: 10px;
}
.checkbox{
    width: 16px;
    height: 16px;
    outline: none;
    margin-left: 20px;
}
.checkbox:checked{
    accent-color: #7eb462;
}

.button {
    margin-inline: auto;
}

.captcha{
    max-width: 120px;
    margin-inline: auto;
    margin-bottom: 10px;
}