.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    height: 100%;
}

.messages{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sendBlock{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}
.input{
    border: 1px solid #1677ff;
    border-radius: 5%;
    outline: none;
    width: 100%;
    padding-inline: 5px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.Error{
    font-size: 25px;
    font-weight: 700;
    color: beige;
    margin-bottom: 10px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 35px;
    font-weight: 700;
    color: azure;
    margin-bottom: 5px;
}